@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0.1);
    opacity: 0;
  }

  60% {
    -webkit-transform: scale(1.2);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
  }

  60% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

h1 {
  color: darkturquoise;
  font: 500 60px lato;
  text-align: center;
  text-transform: uppercase;
  -webkit-animation: bounceIn 1.5s both 1s;
  margin-top: 200px;
}